<h1>Listing ifp_plan_quotes</h1>


<%= form_tag(pull_datas_ifp_plan_quotes_path) do -%>
  <table class="table">
    <tbody>
      <tr>
        
        <td>
          <input type="submit" name="submit" value="Pull datas" >
        </td>

      </tr>
    </tbody>
  </table>  
<% end -%>

  
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ifp_plan_quotes.each do |ifp_plan_quote| %>
      <tr>
        <td><%= link_to 'Show', ifp_plan_quote %></td>
        <td><%= link_to 'Edit', edit_ifp_plan_quote_path(ifp_plan_quote) %></td>
        <td><%= link_to 'Destroy', ifp_plan_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ifp plan quote', new_ifp_plan_quote_path %>
