<h2>Pull Data</h2>


<div class="state_message"></div>
<%= form_tag(pull_datas_plans_for_individual_or_families_path) do -%>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= label_tag 'CountywOneZipCode', 'ZipCode' %>
        </td>
        <td>

          <%= select_tag "USA_state_code", options_for_select($USA_zip_codes.keys(), "ALL") %>
        </td>

        <td>
          <%= label_tag 'GenderType', 'Gender Type' %>
          
        </td>
        <td>
          <%= select_tag "sex", options_for_select([ "Male", "Female" ], "Male") %>
        </td>

        <td>
          <%= label_tag 'age', 'Age' %>
        </td>
        <td>
          <%= number_field_tag 'age_from', 27, in: 27...65 %> from
          <%= number_field_tag 'age_to', 27, in: 27...65 %> to
        </td>

        <td>
          <%= label_tag 'TobaccoUser', 'Tobacco User' %>
        </td>
        <td>
          <%= select_tag "tobacco_type", options_for_select([ "Non-Smoker", "Smoker" ], "Non-Smoker") %>
        </td>

        <td>
          <input type="submit" name="submit" value="Pull IFPPlans" onclick="validate_filters();">
        </td>

      </tr>
    </tbody>
  </table>  
<% end -%>



<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans_for_individual_or_families.each do |plans_for_individual_or_family| %>
      <tr>
        <td><%= link_to 'Show', plans_for_individual_or_family %></td>
        <td><%= link_to 'Edit', edit_plans_for_individual_or_family_path(plans_for_individual_or_family) %></td>
        <td><%= link_to 'Destroy', plans_for_individual_or_family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

