<h1>Editing plan_details_for_individual_or_family</h1>

<%= render 'form' %>

<%= link_to 'Show', @plan_details_for_individual_or_family %> |
<%= link_to 'Back', plan_details_for_individual_or_families_path %>
