<h1>Listing plan_details_for_individual_or_families</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plan_details_for_individual_or_families.each do |plan_details_for_individual_or_family| %>
      <tr>
        <td><%= link_to 'Show', plan_details_for_individual_or_family %></td>
        <td><%= link_to 'Edit', edit_plan_details_for_individual_or_family_path(plan_details_for_individual_or_family) %></td>
        <td><%= link_to 'Destroy', plan_details_for_individual_or_family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan details for individual or family', new_plan_details_for_individual_or_family_path %>
