<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_plan_details_for_individual_or_family_path(@plan_details_for_individual_or_family) %> |
<%= link_to 'Back', plan_details_for_individual_or_families_path %>
