<h1>Listing ifp_plan_benefits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ifp_plan_benefits.each do |ifp_plan_benefit| %>
      <tr>
        <td><%= link_to 'Show', ifp_plan_benefit %></td>
        <td><%= link_to 'Edit', edit_ifp_plan_benefit_path(ifp_plan_benefit) %></td>
        <td><%= link_to 'Destroy', ifp_plan_benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ifp plan benefit', new_ifp_plan_benefit_path %>
