// Place all the styles related to the PlansForIndividualOrFamilies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header {
  margin: 0 auto;
  text-align: center;

  h1 {
    color: #0000FF;
    font-size: 5em;
    margin: 40px 0;
  }
}

#content {
  h2 {
    font-size: 2.5em;
    margin: 20px 0 40px 0;
  }
}


