<%= form_for(@plans_for_individual_or_family) do |f| %>
  <% if @plans_for_individual_or_family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plans_for_individual_or_family.errors.count, "error") %> prohibited this plans_for_individual_or_family from being saved:</h2>

      <ul>
      <% @plans_for_individual_or_family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
