
<p>
  <%= link_to 'Back to extracting', 'pull_data' %>
</p>
<h2>Listing PlansForIndividualOrFamilies</h2>

<table class="table">
  <tbody>
    <tr>
      <td>
        <%= label_tag 'CountywOneZipCode', 'ZipCode' %>
      </td>
      <td>
        <%= select_tag "county_zip_code", options_for_select([ "Alameda", "Alpine", "Amador", "Calaveras", "Colusa", "Contra Costa", "Del Norte","El Dorado", "Fresno", "Glenn", "Imperial", "Inyo", "Kern", "Lassen", "Los Angeles", "Madera", "Marin", "Mariposa", "Mendocino", "Merced", "Modoc", "Mono", "Monterey", "Napa", "Placer", "Plumas", "Riverside", "Sacramento", "San Benito", "San Bernardino", "San Diego", "San Francisco", "San Joaquin", "San Luis Obispo", "San Mateo", "Santa Barbara", "Santa Clara", "Shasta", "Siskiyou", "Solano", "Sonoma", "Stanislaus", "Sutter", "Tehama", "Tulare", "Tuolumne", "Ventura", "Yolo", "Yuba" ], "Alameda") %>
      </td>

      <td>
        <%= label_tag 'GenderType', 'Gender Type' %>
        
      </td>
      <td>
        <%= select_tag "sex", options_for_select([ "Male", "Female" ], "Male") %>
      </td>

      <td>
        <%= label_tag 'age', 'Age' %>
      </td>
      <td>
        <%= number_field_tag 'age_from', 19, in: 19...65 %> from
        <%= number_field_tag 'age_to', 19, in: 19...65 %> to
      </td>

      <td>
        <%= label_tag 'TobaccoUser', 'Tobacco User' %>
      </td>
      <td>
        <%= select_tag "tobacco_type", options_for_select([ "Non-Smoker", "Smoker" ], "Non-Smoker") %>
      </td>

      <td>
        <input type="submit" name="submit" value="Search" onclick="validate_filters();">
      </td>

    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>PlanID</th>
      <th>PlanNameText</th>
      <th>ProductNameText</th>
      <th>IssuerID</th>
      <th>ProviderType</th>
      <th>BaseRateAmount</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @plans_for_individual_or_families.each do |plans_for_individual_or_family| %>
<!--       <tr>
        <td><%= link_to 'Show', plans_for_individual_or_family %></td>
        <td><%= link_to 'Edit', edit_plans_for_individual_or_family_path(plans_for_individual_or_family) %></td>
        <td><%= link_to 'Destroy', plans_for_individual_or_family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
      <tr>
        <td>
          <%= plans_for_individual_or_family.plan_id %>
        </td>
        <td>
          <%=  truncate(plans_for_individual_or_family.plan_name_text, length: 30) %>
        </td>
        <td>
          <%= truncate(plans_for_individual_or_family.product_name_text, length: 30) %>
        </td>
        <td>
          <%= plans_for_individual_or_family.issuer_id %>
        </td>
        <td>
          <%= plans_for_individual_or_family.provider_type %>
        </td>
        <td>
          <%= plans_for_individual_or_family.base_rate_amount %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>


