<!DOCTYPE html>
<html>
<head>
  <title>HealthcareScrapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
    <div id="header">
      <h1>Healthcare API</h1>
    </div>

    <div id="main">
      <div id="content">
        <%= yield %>    
      </div>
    </div>

    <div id="footer">
      
    </div>
  </div>

</body>
</html>
